@charset "utf-8";
/*  Hi 感谢使用Meetion V0.0.3版本
创造者 ： 严家辉
一个前端小菜鸡 喜欢的话记得给我一个小小的Star噢
GitHub地址:https://github.com/CrazyMrYan/Meetion-UI
*/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}
input[type="“submit”"],
input[type="“reset”"],
input[type="“button”"],
input {
    resize: none;
    border: 0;
}
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
img {
    width: 100%;
    height: auto;
    width: auto\9;
    display: block;
    -ms-interpolation-mode: bicubic;
}
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}
body {
    /* font: 12px/1.5 "Comic Sans MS", "Microsoft YaHei", "宋体", Tahoma, Arial, sans-serif; */
    color: #555;
    background-color: #f7f7f7;
}
em,
i {
    font-style: normal;
}
ul,
li {
    list-style-type: none;
}
strong {
    font-weight: normal;
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}
a {
    text-decoration: none;
    color: #969696;
    /* font-family: "Comic Sans MS", Tahoma, Arial, sans-serif; */
}
a:hover {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    /* font-family: "Comic Sans MS"; */
}
img {
    border: 0;
}

.one-txt-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.txt-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
a:link,
a:active,
a:visited,
a:hover {
    background: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.Flex {
    display: flex;
}

/*
    @Name:按钮Class
    @Creation：Mr.Yan
    @Timer：2020/1/9
*/
/* 按钮系列1 */
.M_Btn {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    background: #ecf5ff;
    color: #409eff;
    border-radius: 3px;
    border: 1px solid #dcdfe6;
    outline: none;
    cursor: pointer;
}

.M_Btn:hover {
    background: #409eff;
    border: 1px solid #409eff;
    color: #fff;
}

.M_Btn_success {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    background: #f0f9eb;
    color: #67c23a;
    border-radius: 3px;
    border: 1px solid #67c23a;
    outline: none;
    cursor: pointer;
}

.M_Btn_success:hover {
    background: #67c23a;
    border: 1px solid #67c23a;
    color: #fff;
}

.M_Btn_info {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #909399;
    background: #f4f4f5;
    border: 1px solid #d3d4d6;
}

.M_Btn_info:hover {
    background: #909399;
    border: 1px solid #909399;
    color: #fff;
}

.M_Btn_warning {
    color: #e6a23c;
    background: #fdf6ec;
    border: unset;
    border: 1px solid #f5dab1;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

.M_Btn_warning:hover {
    background: #e6a23c;
    border: 1px solid #e6a23c;
    color: #fff;
}

.M_Btn_danger {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #f56c6c;
    background: #fef0f0;
    border: 1px solid #fbc4c4;
}

.M_Btn_danger:hover {
    color: #fff;
    background: #f56c6c;
    border: 1px solid #f56c6c;
}

/* 按钮系列2 */
.M_Btn_Default {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    font-size: 14px;
    background: #409eff;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #409eff;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

.M_Btn_Default:hover {
    border: 1px solid #fff;
    transition: border 0.2s;
}

.M_Btn_Success {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    outline: none;
    background: #67c23a;
    border: 1px solid #67c23a;
    cursor: pointer;
}

.M_Btn_Success:hover {
    border: 1px solid;
    transition: border 0.2s;
}

.M_Btn_Info {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background: #909399;
    border: 1px solid #909399;
}

.M_Btn_Info:hover {
    border: 1px solid;
    transition: border 0.2s;
}

.M_Btn_Warning {
    color: #fff;
    background: #e6a23c;
    border: unset;
    border: 1px solid #e6a23c;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

.M_Btn_Warning:hover {
    border: 1px solid;
    transition: border 0.2s;
}

.M_Btn_Danger {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background: #f56c6c;
    border: 1px solid #f56c6c;
}

.M_Btn_Danger:hover {
    border: 1px solid;
    transition: border 0.2s;
}
.M_Btn_Default_Circular {
    border: unset;
    padding: 6px 8px;
    text-align: center;
    font-size: 14px;
    background: #409eff;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #409eff;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

.M_Btn_Default_Circular:hover {
    border: 1px solid;
    transition: border 0.2s;
}
.M_Btn_Warning_Circular {
    border: unset;
    padding: 6px 8px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    outline: none;
    background: #e6a23c;
    border: 1px solid #e6a23c;
    cursor: pointer;
}
.M_Btn_Warning_Circular:hover {
    border: 1px solid;
    transition: border 0.2s;
}

.M_Btn_Success_Circular {
    border: unset;
    padding: 6px 8px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    outline: none;
    background: #67c23a;
    border: 1px solid #67c23a;
    cursor: pointer;
}
.M_Btn_Success_Circular:hover {
    border: 1px solid;
    transition: border 0.2s;
}
.M_Btn_Info_Circular {
    border: unset;
    padding: 6px 8px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    outline: none;
    background: #909399;
    border: 1px solid #909399;
    cursor: pointer;
}
.M_Btn_Info_Circular:hover {
    border: 1px solid;
    transition: border 0.2s;
}
.M_Btn_Info_Circular {
    border: unset;
    padding: 6px 8px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    outline: none;
    background: #909399;
    border: 1px solid #909399;
    cursor: pointer;
}
.M_Btn_Danger_Circular:hover {
    border: 1px solid;
    transition: border 0.2s;
}
.M_Btn_Danger_Circular {
    border: unset;
    padding: 6px 8px;

    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background: #f56c6c;
    border: 1px solid #f56c6c;
}

.M_Btn_info_Circular:hover {
    border: 1px dashed #909399;
    transition: border 0.2s;
}

.M_Btn_Info_ {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #909399;
    background: #f4f4f5;
    border: 2px solid #f4f4f5;
}
.M_Btn_Info_:hover {
    border: 2px dashed #909399;
    transition: border 0.2s;
}
/*  */
.M_Btn_Default_ {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #409eff;
    background: #ecf5ff;
    border: 2px solid #ecf5ff;
}
.M_Btn_Default_:hover {
    border: 2px dashed #409eff;
    transition: border 0.2s;
}

.M_Btn_Success_ {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #67c23a;
    background: #f0f9eb;
    border: 2px solid #f0f9eb;
}
.M_Btn_Success_:hover {
    border: 2px dashed #67c23a;
    transition: border 0.2s;
}

.M_Btn_Warning_ {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #e6a23c;
    background: #f5dab1;
    border: 2px solid #f5dab1;
}
.M_Btn_Warning_:hover {
    border: 2px dashed #e6a23c;
    transition: border 0.2s;
}
.M_Btn_Danger_ {
    border: unset;
    padding: 4px 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #f56c6c;
    background: #fbc4c4;
    border: 2px solid #fbc4c4;
}
.M_Btn_Danger_:hover {
    border: 2px dashed #f56c6c;
    transition: border 0.2s;
}

/*
    @Name:卡片Class
    @Creation：Mr.Yan
    @Timer：2020/1/9
    @Ps：自定义卡片大小
*/
.M_Card {
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}

.M_Card:hover {
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}

/* P文本 */
.M_P {
    color: #606266;
    font-size: 18px;
    height: 26px;
    line-height: 26px;
    color: #606266;
    /* background: linear-gradient(to right, rgb(217, 236, 255) ,rgb(198, 226, 255), rgb(179, 216, 255),rgb(140, 197, 255),rgb(121, 187, 255)); */
    /* margin-top: 20px; */
    /* font-weight: 600; */
}

/*
    @Name:文本链接Class
    @Creation：Mr.Yan
    @Timer：2020/1/9
    @Ps：自定义卡片大小
*/
/* 文本链接系列1 */
.M_A_default {
    color: #409eff;
    font-size: 14px;
}

.M_A_default:hover {
    border-bottom: 1px solid #409eff;
}

.M_A_success {
    color: #67c23a;
    font-size: 14px;
}

.M_A_success:hover {
    border-bottom: 1px solid #67c23a;
}

.M_A_info {
    color: #909399;
    font-size: 14px;
}

.M_A_info:hover {
    border-bottom: 1px solid #909399;
}

.M_A_warning {
    color: #e6a23c;
    font-size: 14px;
}

.M_A_warning:hover {
    border-bottom: 1px solid #e6a23c;
}

.M_A_danger {
    color: #f56c6c;
    font-size: 14px;
}

.M_A_danger:hover {
    border-bottom: 1px solid #f56c6c;
}

/* 文本链接系列2 */
.M_A_Default {
    color: #409eff;
    font-size: 14px;
}

.M_A_Success {
    color: #67c23a;
    font-size: 14px;
}

.M_A_Info {
    color: #909399;
    font-size: 14px;
}

.M_A_Warning {
    color: #e6a23c;
    font-size: 14px;
}

.M_A_Aanger {
    color: #f56c6c;
    font-size: 14px;
}

/*
    @Name:输入框Class
    @Creation：Mr.Yan
    @Timer：2020/1/9
    @Ps：自定义输入框大小
*/
.M_Ipt {
    border: unset;
    border: 1px solid #dcdfe6;
    border-radius: 5px;
    color: #606266;
    padding: 4px 4px 4px 8px;
    outline: none;
}

.M_Ipt:focus {
    border: 1px solid #409eff;
    border-radius: 5px;
}

.M_Ipt::-webkit-input-placeholder {
    color: #999;
}

.M_Ipt::-moz-placeholder {
    color: #999;
}

.M_Ipt:-ms-input-placeholder {
    color: #999;
}

.M_Ipt:-moz-placeholder {
    color: #999;
}

.M_Ipt_Delete {
    position: relative;
    left: -25px;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    background: #fff;
}
.M_Ipt_Show_a {
    position: relative;
    left: -25px;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    background: #fff;
}
.BaC {
    background: #e5e5e5;
}

.M_H_Title {
    width: 100%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
}

/*
    @Name:复选框Class
    @Creation：Mr.Yan
    @Timer：2020/1/9
*/
.M_Check {
    display: none;
}

.M_Check,
.M_Check *,
.M_Check :after,
.M_Check :before,
.M_Check + .M_Btn_Checkbox,
.M_Check:after,
.M_Check:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.M_Check ::-moz-selection,
.M_Check :after::-moz-selection,
.M_Check :before::-moz-selection,
.M_Check + .M_Btn_Checkbox::-moz-selection,
.M_Check::-moz-selection,
.M_Check:after::-moz-selection,
.M_Check:before::-moz-selection {
    background: 0 0;
}

.M_Check ::selection,
.M_Check :after::selection,
.M_Check :before::selection,
.M_Check + .M_Btn_Checkbox::selection,
.M_Check::selection,
.M_Check:after::selection,
.M_Check:before::selection {
    background: 0 0;
}

.M_Check + .M_Btn_Checkbox {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
}

.M_Check + .M_Btn_Checkbox:after,
.M_Check + .M_Btn_Checkbox:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.M_Check + .M_Btn_Checkbox:after {
    left: 0;
}

.M_Check + .M_Btn_Checkbox:before {
    display: none;
}

.M_Check:checked + .M_Btn_Checkbox:after {
    left: 50%;
}

.M_Checkbox + .M_Btn_Checkbox {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.M_Checkbox + .M_Btn_Checkbox:after {
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.M_Checkbox:checked + .M_Btn_Checkbox {
    background: #9fd6ae;
}

.M_Checkbox_ios + .M_Btn_Checkbox {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;
}

.M_Checkbox_ios + .M_Btn_Checkbox:after {
    border-radius: 2em;
    background: #fbfbfb;
    -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease,
        margin 0.3s ease;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease,
        margin 0.3s ease;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.M_Checkbox_ios + .M_Btn_Checkbox:active {
    -webkit-box-shadow: inset 0 0 0 2em #e8eae9;
    box-shadow: inset 0 0 0 2em #e8eae9;
}

.M_Checkbox_ios + .M_Btn_Checkbox:active:after {
    padding-right: 0.8em;
}

.M_Checkbox_ios:checked + .M_Btn_Checkbox {
    background: #86d993;
}

.M_Checkbox_ios:checked + .M_Btn_Checkbox:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.M_Checkbox_ios:checked + .M_Btn_Checkbox:active:after {
    margin-left: -0.8em;
}

.M_Item_Checkbox + .M_Btn_Checkbox {
    overflow: hidden;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    /* font-family: sans-serif; */
    background: #888;
}

.M_Item_Checkbox + .M_Btn_Checkbox:after,
.M_Item_Checkbox + .M_Btn_Checkbox:before {
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg);
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.M_Item_Checkbox + .M_Btn_Checkbox:after {
    left: 100%;
    content: attr(data-tg-on);
}

.M_Item_Checkbox + .M_Btn_Checkbox:before {
    left: 0;
    content: attr(data-tg-off);
}

.M_Item_Checkbox + .M_Btn_Checkbox:active {
    background: #888;
}

.M_Item_Checkbox + .M_Btn_Checkbox:active:before {
    left: -10%;
}

.M_Item_Checkbox:checked + .M_Btn_Checkbox {
    background: #86d993;
}

.M_Item_Checkbox:checked + .M_Btn_Checkbox:before {
    left: -100%;
}

.M_Item_Checkbox:checked + .M_Btn_Checkbox:after {
    left: 0;
}

.M_Item_Checkbox:checked + .M_Btn_Checkbox:active:after {
    left: 10%;
}

.M_Checkbox_flat + .M_Btn_Checkbox {
    padding: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #fff;
    border: 4px solid #f2f2f2;
    border-radius: 2em;
}

.M_Checkbox_flat + .M_Btn_Checkbox:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #f2f2f2;
    content: "";
    border-radius: 1em;
}

.M_Checkbox_flat:checked + .M_Btn_Checkbox {
    border: 4px solid #7fc6a6;
}

.M_Checkbox_flat:checked + .M_Btn_Checkbox:after {
    left: 50%;
    background: #7fc6a6;
}

.M_Checkbox_flip + .M_Btn_Checkbox {
    padding: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    /* font-family: sans-serif; */
    -webkit-perspective: 100px;
    -ms-perspective: 100px;
    perspective: 100px;
}

.M_Checkbox_flip + .M_Btn_Checkbox:after,
.M_Checkbox_flip + .M_Btn_Checkbox:before {
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}

.M_Checkbox_flip + .M_Btn_Checkbox:after {
    content: attr(data-tg-on);
    background: #02c66f;
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.M_Checkbox_flip + .M_Btn_Checkbox:before {
    background: #ff3a19;
    content: attr(data-tg-off);
}

.M_Checkbox_flip + .M_Btn_Checkbox:active:before {
    -webkit-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
}

.M_Checkbox_flip:checked + .M_Btn_Checkbox:before {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.M_Checkbox_flip:checked + .M_Btn_Checkbox:after {
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    left: 0;
    background: #7fc6a6;
}

.M_Checkbox_flip:checked + .M_Btn_Checkbox:active:after {
    -webkit-transform: rotateY(20deg);
    -ms-transform: rotateY(20deg);
    transform: rotateY(20deg);
}

/*
    @Name:选择器Class
    @Creation：Mr.Yan
    @Timer：2020/1/9
*/
#M_select {
    width: 200px;
    height: 30px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("src/imgs/toBottom.png") no-repeat 170px center;
    background-size: 8%;
    font-size: 16px;
    /* font-family: Microsoft YaHei; */
    padding-left: 8px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    color: #666;
    outline: none;
}

/*
    @Name:表格Class
    @Creation：Mr.Yan
    @Timer：2020/1/9
*/
.M_Headitem_Blue {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background: #20a0ff;
}

.M_Headitem_Blue > div {
    flex: 1;
    border-right: 1px solid #e5e5e5;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
}

.M_table {
    margin: 0 auto;
    margin-bottom: 20px;
}

.M_Tritem {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
.M_Tritem:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.M_Tritem > div {
    /* width: 200px; */
    flex: 1;
    border-right: 1px solid #e5e5e5;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #666;
}

.M_Headitem_Gray {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f2f2;
}

.M_Headitem_Gray > div {
    width: 200px;
    border-right: 1px solid #e5e5e5;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #666;
    font-weight: 600;
}

.M_Tritem:hover {
    background: GhostWhite;
}

.M_Headitem {
    border-bottom: 1px solid #e5e5e5;
}

.M_Headitem > div {
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #666;
    font-weight: 600;
}

.M_Tritem_ > div {
    width: 200px;
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #666;
}
/*
    @Name:对话框Class
    @Creation：Mr.Yan
    @Timer：2020/1/10
*/
.M_Dialogue_Center {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
.M_Dialogue_Center > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.M_Dialogue_Content {
    height: 80%;
    width: 100%;
}
.M_Dialogue_Right {
    width: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}
.M_Dialogue_Right > div {
    transition: width 0.6s;
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
}
.M_Dialogue_Content_R {
    height: 80%;
    width: 100%;
}

.M_Dialogue_Left {
    width: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.M_Dialogue_Left > div {
    transition: width 0.6s;
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
}
.M_Dialogue_Top {
    width: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.M_Dialogue_Top > div {
    transition: height 0.6s;
    position: fixed;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
}
.M_Dialogue_Bottom {
    width: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.M_Dialogue_Bottom > div {
    transition: height 0.6s;
    position: fixed;
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
}
.M_P_Text {
    padding-left: 16px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    height: 20px;
    line-height: 20px;
}
.M_P_Text_Center {
    padding: 5px;
    font-size: 14px;
    color: #666;
    height: 20px;
    line-height: 20px;
    background: #e5e5e5;
    margin-top: 10px;
    text-align: center;
}
.M_P_Title {
    color: #606266;
    font-size: 18px;
    height: 26px;
    line-height: 26px;
    color: #606266;
}
.M_success_message {
    /* min-width: 320px; */
    width: 320px;

    height: 40px;
    background-color: #f0f9eb;
    color: #67c23a;
    border: 1px solid #e1f3d8;
    position: fixed;
    left: 42%;
    top: 8%;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    padding: 13px 15px 15px 20px;
    box-sizing: border-box;
}

.M_error_message {
    /* min-width: 320px; */
    width: 320px;
    height: 40px;
    background-color: #fef0f0;
    border: 1px solid #fde2e2;

    color: #f56c6c;
    position: fixed;
    left: 42%;
    top: 8%;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    padding: 13px 15px 15px 20px;
    box-sizing: border-box;
}
.M_info_message {
    width: 320px;
    height: 40px;
    color: #909399;
    background: #f4f4f5;
    border: 1px solid #e9e9eb;

    position: fixed;
    left: 42%;
    top: 8%;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    padding: 13px 15px 15px 20px;
    box-sizing: border-box;
}
.M_warning_message {
    width: 320px;
    height: 40px;
    color: #e6a23c;
    background: #fdf6ec;
    border: 1px solid #faecd8;
    position: fixed;
    left: 42%;
    top: 8%;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    padding: 13px 15px 15px 20px;
    box-sizing: border-box;
}
.M_Success_message {
    width: 100%;
    height: 40px;
    background-color: #f0f9eb;
    color: #67c23a;
    border: 1px solid #e1f3d8;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    padding: 13px 15px 15px 20px;
    box-sizing: border-box;
    display: flex;
    padding: 13px 15px 15px 20px;
}
.M_Error_message {
    width: 100%;
    height: 40px;
    background-color: #fef0f0;
    border: 1px solid #fde2e2;
    color: #f56c6c;
    display: flex;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    padding: 13px 15px 15px 20px;
    box-sizing: border-box;
}
.M_Info_message {
    width: 100%;
    height: 40px;
    color: #909399;
    background: #f4f4f5;
    border: 1px solid #d3d4d6;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    display: flex;
    padding: 13px 15px 15px 20px;
    box-sizing: border-box;
}
.M_Warning_message {
    width: 100%;
    height: 40px;
    color: #e6a23c;
    background: #fdf6ec;
    border: 1px solid #f5dab1;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    padding: 13px 15px 15px 20px;
    box-sizing: border-box;
    display: flex;
}
.M_Success_Message,
.M_Success_Message_a {
    width: 100%;
    height: 40px;
    background-color: #f0f9eb;
    color: #67c23a;
    border-radius: 5px;
    z-index: 9999;
    box-sizing: border-box;
    display: flex;
    padding: 0 15px 0 20px;
    line-height: 40px;
    font-size: 14px;
}
.M_Success_Message i {
    font-size: 18px;
}
.M_Error_Message,
.M_Error_Message_a {
    width: 100%;
    height: 40px;
    background-color: #fef0f0;
    color: #f56c6c;
    display: flex;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    box-sizing: border-box;
    padding: 0 15px 0 20px;
    line-height: 40px;
    font-size: 14px;
}

.M_Info_Message,
.M_Info_Message_a {
    width: 100%;
    height: 40px;
    color: #909399;
    background: #f4f4f5;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    display: flex;
    box-sizing: border-box;
    padding: 0 15px 0 20px;
    line-height: 40px;
    font-size: 14px;
}
.M_Warning_Message,
.M_Warning_Message_a {
    width: 100%;
    height: 40px;
    color: #e6a23c;
    background: #fdf6ec;
    line-height: 10px;
    border-radius: 5px;
    z-index: 9999;
    box-sizing: border-box;
    display: flex;
    padding: 0 15px 0 20px;
    line-height: 40px;
    font-size: 14px;
}
.M_Card_Content {
    height: 90%;
    background: #e5e5e5;
    margin-top: 5px;
}
.M_Img {
    border-radius: 50%;
    transition: transform 3s ease-out;
    border: 1px solid #efefef;
}
.M_Img:hover {
    transform: rotateZ(360deg);
}
.M_picture > img {
    height: 400px;
}

.M_picture {
    position: relative;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #efefef;
    border-radius: 10px;
    overflow: hidden;
}

.M_picture > .radius {
    /* 圆点所在的p (容器)  */
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.M_picture > .p g {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.M_picture > .title {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(21, 223, 72);
}

.M_picture span {
    display: inline-block;
    border: 5px solid #fdfdfd;
    border-radius: 50%;
    cursor: pointer;
}
.M_picture .active {
    border: 5px solid #656466;
}

/* 左右箭头  */
.M_picture > .arrowhead-left,
.M_picture > .arrowhead-right {
    position: absolute;
    width: 41px;
    height: 69px;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    color: #d6d8d4;
    background-color: rgba(0, 0, 0, 0);
}
.M_picture > .arrowhead-left:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.M_picture > .arrowhead-right:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.M_picture > .arrowhead-left {
    left: -41px;
    top: 40%;
}

.M_picture > .arrowhead-right {
    right: -41px;
    top: 40%;
}
.M_picture > #al > img {
    width: 100%;
    cursor: pointer;
    height: 100%;
}

.M_picture > #ar > img {
    width: 100%;
    cursor: pointer;
    height: 100%;
}
.M_Tag {
    border: unset;
    padding: 5px 7px;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    background: #ecf5ff;
    color: #409eff;
    border-radius: 3px;
    border: 1px solid #d9ecff;

    outline: none;
    cursor: pointer;
}
.M_Tag_success {
    border: unset;
    padding: 5px 7px;
    font-size: 12px;

    text-align: center;
    box-sizing: border-box;
    background: #f0f9eb;
    color: #67c23a;
    border-radius: 3px;
    border: 1px solid #e1f3d8;
    outline: none;
    cursor: pointer;
}
.M_Tag_info {
    border: unset;
    padding: 5px 7px;

    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    color: #909399;
    background: #f4f4f5;
    border: 1px solid #e9e9eb;
}
.M_Tag_warning {
    color: #e6a23c;
    background: #fdf6ec;
    border: unset;
    border: 1px solid #faecd8;
    padding: 5px 7px;
    text-align: center;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
}
.M_Tag_danger {
    border: unset;
    padding: 5px 7px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    color: #f56c6c;
    background: #fef0f0;
    border: 1px solid #fde2e2;
}
.M_Tag_DF {
    height: 12px;
    width: 12px;
}
.M_Tag_DF:hover {
    background: #409eff;
    color: #fff;
    border-radius: 50%;
}
.M_Tag_success_DF {
    height: 12px;
    width: 12px;
}
.M_Tag_success_DF:hover {
    background: #67c23a;
    color: #fff;
    border-radius: 50%;
}
.M_Tag_info_DF {
    height: 12px;
    width: 12px;
}
.M_Tag_info_DF:hover {
    background: #909399;
    color: #fff;
    border-radius: 50%;
}
.M_Tag_warning_DF {
    height: 12px;
    width: 12px;
}
.M_Tag_warning_DF:hover {
    background: #e6a23c;
    color: #fff;
    border-radius: 50%;
}
.M_Tag_danger_DF {
    height: 12px;
    width: 12px;
}
.M_Tag_danger_DF:hover {
    background: #f56c6c;
    color: #fff;
    border-radius: 50%;
}
.M_Breadcrumb {
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #969696;
}
.M_Breadcrumb > span {
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    min-width: 80px;
    font-size: 14px;
    color: #969696;
}
.M_Breadcrumb > span > a:hover {
    color: #20a0ff;
}
.lengthItem > a {
    color: #222;
}

.M_Breadcrumb_ {
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #969696;
}
.M_Breadcrumb_ > span {
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    min-width: 80px;
    font-size: 14px;
    color: #969696;
}
.M_Breadcrumb_ > span > a:hover {
    color: #20a0ff;
}